.App {
padding-left: 10%;
padding-right: 10%;
background-color: #40D0A4;

}

.eachPanel {
  margin: 15px;
  border-style: solid;
  background-color: #8FE0C8;
}

.headers1 {
  text-align: center;
  text-decoration: underline;
}

.headers {
  padding-left: 5%;
}

.panelParagraphs {
  padding-left: 2%;
}